/* STYLE FORGOT PASSWORD */
.forgot-password {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #FAF7EB;
}

.forgot-password .fgt-pass-card {
    padding: 50px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    position: relative;
    overflow: hidden;
}

.forgot-password input {
    background-color: #D9D9D9;
}

.forgot-password button {
    background-color: #605DC8;
    border-color: #605DC8;
}

.forgot-password .hero {
    width: 75%;
    padding-left: 10%;
    display: block;
    margin-inline: auto;
}
/* STYLE FORGOT PASSWORD */

/* STYLE VERIF PASSWORD */
.change-password {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #FAF7EB;
}

.change-password .change-pass-card {
    padding: 50px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    position: relative;
    overflow: hidden;
}

.change-password input {
    background-color: #D9D9D9;
}

.change-password button {
    background-color: #EA3F23;
    border-color: #EA3F23;
    color: white;
}

.change-password .hero {
    width: 100%;
    padding-left: 10%;
}
/* STYLE VERIF PASSWORD */