.navbar .logos {
    margin-right: 10px;
    width: 35px;
    height: 35px;
}

.navbar .nav-link:hover {
    color: #646cffaa;
    font-weight: bold;
}

.navbar .nav-link.active {
    background-color: #646cffaa;
}

.navbar p {
    color: white;
    font-size: 10px;
}

.navbar .vertical-line {
    width: 2px;
    height: 25px;
    background-color: silver;
    margin-left: 15px;
    margin-right: 8px;
}