*{
  font-family: "Poppins", sans-serif;
}

:root {
  --white-color: #fff;
  --dark-blue-color: #262663;
  --light-blue-color: #72D7F8;
  --light-green-color: #A3FDC6;
  --purple-color: #605DC8;
  --red-color: #EA3F23;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
